.cards-container{
    background-color: aqua;
    margin-right: 40px;
    border-radius: 10px;
}
.cards{
    height: 300px;
    width: 250px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 20px;
    margin-right: 20px;
    gap: 5px;
    flex-direction: column;
}
.image-cards{
    width: 125px;
    height: 125px;
}
.product-name{
    display: flex;
    width: 150px;
    height: 50px;
    overflow-x: hidden;
    flex-wrap: nowrap;
}
.image-container{
    background-color: bisque;
    display: flex;
    width: 100%;
    justify-content: center;
}
.button{
    margin: 0;
    padding: 0;
}