.products-conteiner{
    width: 700px;
    background-color: rgb(0, 174, 255);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    border-radius: 4px;
    gap: 10px;
    padding: 5px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.cards-conteiner{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    overflow-x: hidden;
    scrollbar-width: none;
    overflow-y: hidden;
}