.products-conteiner{
    height: 270px;
    width: 150px;
    background-color: chartreuse;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 4px;
    gap: 10px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.cards-conteiner{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    overflow-x: hidden;
    scrollbar-width: none;
    overflow-y: hidden;
}
.jewelery-section{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.cards-types{
    width: 100%;
}
.cards-wrapper{
    display: flex;
    justify-content: center;
}