.header-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: rgb(50, 103, 138);
}
.nav-container{
    width: 100%;
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    justify-content: space-between;
}

.nav-container > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.text{
    border-radius: 55px;
}