.header-conteiner{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    background-color: aqua;
}
.nav-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-header ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
.button-cont{
    background-color: aliceblue;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}