.home-page{
    height: 100vh;
    background-color: aquamarine;
    background-image: url("https://images.unsplash.com/photo-1580828343064-fde4fc206bc6?crop=entropy&cs=srgb&fm=jpg&ixid=M3w3MjAxN3wwfDF8c2VhcmNofDN8fHByb21vdGlvbnN8ZW58MHx8fHwxNzY1OTc1MjUzfDA&ixlib=rb-4.1.0&q=85&q=85&fmt=jpg&crop=entropy&cs=tinysrgb&w=450");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-home{
    height: 100%;
}
.box-content{
    display: flex;
    width: auto;
    justify-content: space-between;
    margin-top: 55px;
    margin-left: 80px;
    margin-right: 80px;
}
.cards-content{
    margin-top: 50px;
}
.products{
    display: flex;
    margin-left: 80px;
    overflow-x: scroll;
}
.cards-content > h1{
    margin-left: 80px;
}

.home-page > div {
    margin-left: 80px;
}

@media screen and (width: 430px) {
    .box-content{
        margin-left: 20px;
        margin-right: 20px;
    }
    .products{
        margin-left: 20px;
    }

    .cards-content > h1{
        margin-left: 20px;
    }
    .home-page{
        height: 230px;
    }

    .home-page > div {
        margin-left: 20px;
        font-size: 10px;
    }
    .home-page > div > p {
        display: none;
    }
    .home-page  .button-home{
        margin-top: 15px;
        width: 100px;
    }
}