.login-main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-container{
    display: flex;
    height: 80%;
    width: 80%;
    box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.08),
    0 12px 24px rgba(0, 0, 0, 0.12),
    inset 0 1px 0 rgba(255, 255, 255, 0.6);
    border-radius: 9px;
}
.login-form{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.forms-login-options{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
    width: 70%;
}
.login-image{
    padding: 10px;
}
.image-login-container{
    height: 100%;
    border-radius: 20px;
}
.image-login-container > img {
    height: 100%;
}

@media screen and (width: 430px) {
    .login-container > .login-image{
        display: none;
    }
    .login-container{
        height: 60%;
    }
    .login-form{
        width: 100%;
        height: 50%;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
    }
}