.product-page{
    height: 100%;
    display: flex;
    padding: 20px;
    background-color: white;
}
.sla{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sla2{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-conteiner-individual{
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    box-sizing: border-box;
}
.image-conteiner-individual > img{
    height: 300px;
}
.product-stats{
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.oi{
    height: 70%;
    border-top: 4px solid;
    border-image: linear-gradient(90deg, rgba(235, 231, 231, 0.13), rgba(181, 181, 187, 0.384)) 1;
}
.title{
    height: 20%;
}

.stats{
    height: 20%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

@media screen and (width : 430px) {
    .product-page{
        display: flex;
        flex-direction: column;
    }
    .sla {
        width: 100%;
    }
    .sla2{
        margin-top: 20px;
        width: 100%;
        display: flex;
    }
    .stats{
        order: 2;
    }
    .oi{
        order: 3;
    }
    .title{
        order: 1;
    }
    
}