.product-page{
    height: 100%;
    display: flex;
    padding: 20px;
    background-color: white;
}
.sla{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sla2{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-conteiner-individual{
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    box-sizing: border-box;
}
.image-conteiner-individual > img{
    height: 300px;
}
.product-stats{
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.oi{
    border-bottom: 4px solid;
    border-image: linear-gradient(90deg, rgba(235, 231, 231, 0.13), rgba(181, 181, 187, 0.384)) 1;
}