*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.login-body{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.create-user{
    margin-top: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.inputs{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 9px;
}
.form-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    gap: 15px;
    height: 90%;
    width: 70%;
    box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.08),
    0 12px 24px rgba(0, 0, 0, 0.12),
    inset 0 1px 0 rgba(255, 255, 255, 0.6);
    border-radius: 9px;
}
.input-width{
    width: 90%;
}