*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.login-body{
    height: 100vh;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.create-user{
    width: 40%;
    background-color: brown;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.inputs{
    width: 100%;
    display: flex;
    justify-content: center;
}
.form-container{
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
    height: 90%;
}