.box{
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.12),
    0 8px 20px rgba(0, 0, 0, 0.18);
}

@media screen and (width: 430px) {
    .box{
        height: 120px;
        width: 120px;
    }
}