.cards-container{
    margin-right: 40px;
    border-radius: 10px;
    box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.12);
}
.cards{
    height: 300px;
    width: 250px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 20px;
    margin-right: 20px;
    gap: 5px;
    flex-direction: column;
}
.image-cards{
    width: 125px;
    height: 125px;
}
.product-name{
    display: flex;
    width: 150px;
    height: 50px;
    overflow-x: hidden;
    flex-wrap: nowrap;
}
.image-container{
    display: flex;
    width: 100%;
    justify-content: center;
}
.button{
    margin: 0;
    padding: 0;
}

@media screen and (width: 430px) {
    .cards{
        width: 200px;
    }
    .image-container{
        justify-content: flex-start;
    }
    .image-cards{
        height: 110px;
        width: 110px;
    }
}