.card-modification{
    height: 35px;
    min-width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 7px;
    border: 2px solid rgb(223, 230, 236);
}
.controls{
    cursor: pointer;
    height: auto;
    font-size: 20px;    
}
.card-modification > div {
    display: flex;
    align-items: center;
    justify-content: center;
}