.header-container {
  width: 100%;
  background-color: rgb(50, 103, 138);
}

/* Container que define o grid */
.nav-container {
  max-width: 100%;
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

/* Grupos internos */
.nav-container > div {
  display: flex;
  align-items: center;
  gap: 16px;
}

.text {
  border-radius: 55px;
}

/* 📱 Mobile */
@media (max-width: 430px) {
  .nav-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .nav-container .desktop-only {
    display: none;
  }
}
